/*================================================================================
	Item Name: Stack - Responsive Admin Theme
	Author: PIXINVENT
	Author URL: http://www.themeforest.net/user/pixinvent
================================================================================

NOTE:
------
PLACE HERE YOUR OWN SCSS CODES AND IF NEEDED, OVERRIDE THE STYLES FROM THE OTHER STYLESHEETS.
WE WILL RELEASE FUTURE UPDATES SO IN ORDER TO NOT OVERWRITE YOUR STYLES IT'S BETTER LIKE THIS.  */
.login-img {
	width: 80px;
}
.flashmessage {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 34%;
    /*min-height: 100%;*/
    background-color: #FDD2D8;
    border-top: 1px solid #dce8f1;
    padding: 20px;
    text-align: center;
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius:10px 10px 10px 10px;
    margin-left: 33%;
    color:#7D0728 ;
}
.error {
	color: #ff7588;
}
.input-require {
    color: #ff7588;
}
.input-error-border {
     border-color: #ff7588;
}
.clear-btn {
    margin-left: 8px !important;
}
.check_success {
    color: #16d39a;
}
.success_message {
    border-color: #45ecb9 !important;
    background-color: #45ecb9 !important;
    color: #053124 !important;
    position: relative;
    border-radius: 0.25rem;
}
.search-container {
    margin-bottom: 25px;
}
.search-container button {
    padding: 6px 15px !important;
    margin-top: 6px !important;
}
.home_label {
    margin-top: 2px;
}
.search-container-2 {
    margin-bottom: 38px;
}
.search-container-2 button {
    padding: 6px 15px !important;
    margin-top: 6px !important;
}
.add-button {
    text-transform: none;
    /*padding: 0.5px 10px;*/
    padding: 6px 15px !important;
    /*margin-top: 6px !important;*/
    /*font-size: 15px;*/
}
.download-pdf form {
    display: inline-block;
    margin-left: 8px;
}
.download-pdf button {
    text-transform: none;
    /*padding: 0.5px 10px;*/
    padding: 6px 15px !important;
    /*margin-top: 6px !important;*/
    /*font-size: 15px;*/
}
.report-header {
    display: flex;
}
.report_heading {
    margin-top: 6.5px;
}
/*.take-fee-select select{
    width: 30% !important;
}*/
/*.select2 select2-container select2-container--default {
    width: 30% !important;
}*/
.take-fee-select {
    max-width: 12.33333% !important; 
}
.home_label_name {
    color: white;
}
.students_header {
    display: flex;
}
.students_header a{
    margin-left: 5px;
    padding: 6px 15px !important;
}
.students_header button{
    margin-left: 5px;
    padding: 6px 15px !important;
}
.students_header h4{
    margin-top: 7px;
}
.view_fee_table td, .view_fee_table th{
     padding: 0.75rem 0.5rem !important;
}
.modal-fullscreen{
    z-index: 9999 !important;
}
.select2-container--open {
    z-index: 9999999 !important;
}